<h1>
  <%= @student.first_name %>
</h1>

<% @addresses.each do |address| %>
  <p>Street: <%= address.street %></p>
  <p>City: <%= address.city %></p>
  <p>State: <%= address.state %></p>
  <p>Current: <%=address.is_current %></p>
  <hr />
<% end %>
